<div id="panel">
  <div id="content">
    <div id="gmf-lidarprofile-container">
      <div class="lidarprofile">
        <div class="lidar-error"></div>
        <canvas class="lidar-canvas"></canvas>
        <svg class="lidar-svg" style="fill: #ffff00; position: absolute; z-index: 1"></svg>
      </div>
      <div class="lidar-legend">
        <div class="width-info"></div>
        <div class="lod-info"></div>
        <div class="lidar-info"></div>
      </div>
    </div>
  </div>
  <div id="gutter"></div>
  <button id="close" onclick="${() => this.closePanel()}">${this.htmlUnsafe(this.closeSvg)}</button>
</div>
