#content {
  background: var(--t-bkg);
  color: var(--text-color);
  width: fit-content;
  white-space: nowrap;
  padding: 0 0.5rem;
  font-size: 1rem;
}

label:after {
  content: ':';
  height: 2.3rem;
  line-height: 2.3rem;
}

span {
  font-weight: bold;
  height: 2.3rem;
  line-height: 2.3rem;
}

girafe-menu-button {
  display: inline-block;
}

#container {
  display: inline-flex;
  flex-direction: column;
  width: max-content;
}
