#panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 20rem; /* For and from parent panel */
}
#panel > div {
  padding: 1rem 1.5rem 1rem 1.5rem;
}

#panel #drawingListContainer {
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
}

#panel #toolbar button {
  border: solid 1px var(--bkg-color);
  color: var(--text-color-grad2);
  height: 2.4rem;
  width: 2.4rem;
  padding: 0;
  background-color: var(--bkg-color);
  cursor: pointer;
}

#panel #toolbar button:hover {
  border: solid 1px var(--text-color-grad2);
}

#panel #toolbar button.selected {
  border: solid 1px var(--text-color-grad2);
  background-color: var(--text-color-grad2);
  color: var(--bkg-color);
}

#drawingList {
  display: flex;
  flex-flow: column;
  gap: 0.15rem;
}

#drawingList .featureLine {
  display: flex;
  width: 100%;
}

#drawingList div.girafe {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0.3rem;
  border: solid 1px var(--text-color);
}

#drawingList input.name {
  border: none;
  width: inherit;
}

#drawingList .icon {
  width: 14px;
  height: 14px;
  fill: var(--text-color);
  margin: 3px;
  flex-shrink: 0;
}

#drawingList .icon:hover {
  fill: var(--text-color-grad2);
}

.picker_wrapper.popup {
  position: fixed !important;
  transform: translate(-120%, -5%);
}

#panel .optionsMenu {
  position: absolute;
  z-index: 100;
  top: 25px;
  right: 5px;
  background-color: var(--bkg-color);
  border: 1px solid;
  padding: 0;
  width: 130px;
}

#panel .optionsMenu button {
  padding: 5px;
  width: 100%;
  background-color: var(--bkg-color);
  border: none;
}

#panel .optionsMenu button:hover {
  background-color: var(--bkg-color-grad1);
}

#panel .optionsMenu button:active {
  background-color: var(--bkg-color-grad2);
}
