.group {
  color: #999;
  border-top: solid 1px #ddd;
  line-height: 1.3rem;
  display: flex;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.selectable {
  cursor: pointer;
}

.selectable:hover {
  color: var(--text-color);
}

.selected {
  cursor: pointer;
  color: var(--text-color);
}

i {
  width: 0.8rem;
  text-align: center;
  min-width: 0;
}

.expand,
.collapse {
  order: 1;
  padding-top: 0.15rem;
}

.circle-on,
.circle-off,
.circle-semi {
  order: 2;
  padding-top: 0.2rem;
  margin-left: 0.2rem;
  margin-right: 0.1rem;
  cursor: pointer;
}

.error {
  order: 3;
  color: var(--error-color);
}

.text {
  order: 4;
  display: inline-block;
  margin: 0.2rem;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 0;
}

.delete {
  order: 5;
  padding-top: 0.45rem;
}

.sublayers {
  padding-left: 1rem;
  flex-basis: 100%;
  order: 10;
}
