<link rel="stylesheet" href="lib/fontawesome/css/all.min.css" />

<div id="panel">
  <div id="content">
    <div class="${this.getRenderState() === 'loading' ? '' : 'hidden'}">
      <div class="message">
        <div i18n="Connecting to the print server, please wait."></div>
        <i class="fa-solid fa-3x fa-circle-notch fa-spin"></i>
      </div>
    </div>

    <div class="${this.getRenderState() === 'error' ? '' : 'hidden'}">
      <div class="message" i18n="The print server is unavailable. Please, try later."></div>
    </div>

    <div class="${this.getRenderState() === 'setup' ? '' : 'hidden'}">
      <div class="option">
        <label for="layout" i18n="Layout">Layout</label>
        <div class="select" onchange="${(evt:Event) => this.onLayoutChanged(evt)}">
          <select id="layout">
            ${this.layouts.map((layout) => uHtml`
            <option
              i18n="${layout.name}"
              ?selected="${this.selectedLayout?.name === layout.name}"
              value="${layout.name}">
              ${layout.name}
            </option>
            `)}
          </select>
        </div>
      </div>

      <div class="option">
        <label for="scale" i18n="Scale">Scale</label>
        <div class="select" onchange="${(evt:Event) => this.onScaleChanged(evt)}">
          <select id="scale">
            ${this.scales.map((scale) => uHtml`
            <option ?selected="${this.getSelectedScale() === scale}" value="${scale}">
              <span>1&nbsp;:&nbsp;</span><span i18n="${scale}" i18nFn="formatNumber">${scale}</span>
            </option>
            `)}
          </select>
        </div>
      </div>

      <div class="option">
        <label for="format" i18n="Format">Format</label>
        <div class="select" onchange="${(evt:Event) => this.onFormatChanged(evt)}">
          <select id="format">
            ${this.printFormats.map((format) => uHtml`
            <option ?selected="${this.getSelectedFormat() === format}" value="${format}">
              ${format.toUpperCase()}
            </option>
            `)}
          </select>
        </div>
      </div>

      ${ this.dpis.length < 2 ? null : uHtml`
      <div class="option">
        <label for="dpi" i18n="DPI">DPI</label>
        <div class="select" onchange="${(evt:Event) => this.onDpiChanged(evt)}">
          <select id="dpi">
            ${this.dpis.map((dpi) => uHtml`
            <option ?selected="${this.getSelectedDpi() === dpi}" value="${dpi}">${dpi}</option>
            `)}
          </select>
        </div>
      </div>
      `}

      <div class="option">
        <label for="rotationSlider" i18n="Rotation">Rotation</label>
        <div class="rotation">
          <input
            id="rotationSlider"
            type="range"
            min="-180"
            max="180"
            step="1"
            value="${this.getRotation()}"
            oninput="${(evt:Event) => this.onInputRotationChanged(evt)}" />
          <input
            id="rotationNumber"
            type="number"
            min="-180"
            max="180"
            step="1"
            value="${this.getRotation()}"
            oninput="${(evt:Event) => this.onInputRotationChanged(evt)}" />
        </div>
      </div>

      <!-- prettier is breaking this line because it breaks just after the return -->
      <!-- prettier-ignore -->
      ${this.attributeNames.map( (attrName) => { if (this.getAttributeInputType(attrName) === 'number') { return uHtml`
      <div class="option">
        <label for="${attrName}" i18n="${this.attrNameForI18n(attrName)}">${attrName}</label>
        <input id="${attrName}" type="number" value="${this.getCapabilitiesAttribute(attrName)?.default}" />
      </div>
      `} if (this.getAttributeInputType(attrName) === 'checkbox') { return uHtml`
      <div class="option">
        <label for="${attrName}" i18n="${this.attrNameForI18n(attrName)}">${attrName}</label>
        <input id="${attrName}" type="checkbox" ?checked="${this.getCapabilitiesAttribute(attrName)?.default}" />
      </div>
      `} if (this.getAttributeInputType(attrName) === 'textarea') { return uHtml`
      <div class="option w-full">
        <!-- prettier-ignore -->
        <textarea
          id="${attrName}"
          class="w-full"
          i18n="${this.attrNameForI18n(attrName)}"
          placeholder="${attrName}">${this.getCapabilitiesAttribute(attrName)?.default}</textarea>
      </div>
      `} return uHtml`
      <div class="option">
        <input
          id="${this.attrNameForI18n(attrName)}"
          class="w-full"
          i18n="${attrName}"
          placeholder="${attrName}"
          type="text"
          value="${this.getCapabilitiesAttribute(attrName)?.default}" />
      </div>
      `})}

      <button id="export-pdf" onclick="${() => this.print()}" i18n="Print">Print</button>

      <div id="print-list">
        ${this.printList.map((printItem) => uHtml`
        <div id="${printItem.id}" class="print-item" title="${printItem.elementTitle}">
          <button class="cancel" tabindex="0" onclick="${() => this.onCancelPrintElementClicked(printItem.id)}">
            <i class="fa-solid"></i>
          </button>
          <button class="container" tabindex="0" onclick="${() => this.onPrintElementClicked(printItem.id)}">
            <i class="${this.getStatusClasses(printItem.status)}"></i>
            <p>
              <span i18n="${printItem.selectedLayoutName}">${printItem.selectedLayoutName}</span>
              <span>(${printItem.selectedFormat.toUpperCase()})</span>
            </p>
            <p class="time">${printItem.time}</p>
          </button>
        </div>
        `)}
      </div>
    </div>
  </div>
</div>
