<link rel="stylesheet" href="styles/common.css" />
<link rel="stylesheet" href="lib/gridjs/mermaid.min.css" />
<link rel="stylesheet" href="lib/fontawesome/css/all.min.css" />
<link rel="stylesheet" href="lib/font-gis/font-gis.css" />

<div id="panel">
  <div id="content">
    <div id="header">
      ${this.getTabHeaders().map((th) => uHtml`
      <button
        id="${th.id}"
        i18n="${th.text}"
        class="${th.active ? 'tab active' : 'tab'}"
        .active="${th.active}"
        onclick="${() => this.displayGrid(th.id)}"></button>
      `)}
    </div>
    <div id="grid"></div>
  </div>
  <div id="gutter"></div>
  <button id="close" onclick="this.closePanel()">
    <i class="fa-solid"></i>
  </button>
</div>
