<link rel="stylesheet" href="styles/common.css" />

<button
  class="${(this.state.loading ? 'hidden' : 'girafe-button-big dark')}"
  title="Theme Selection"
  onclick="${() => this.toggleThemesList()}"
  onblur="${() => this.onBlur()}">
  <img alt="menu-icon" src="icons/themes.svg" />
</button>
<button
  class="${(this.state.loading ? 'girafe-button-big dark' : 'hidden')}"
  title="Theme Selection"
  onclick="${() => this.toggleThemesList()}"
  onblur="${() => this.onBlur()}">
  <img alt="menu-icon" src="icons/loading.svg" class="spin" />
</button>

<div class="${(this.menuOpen ? 'themes' : 'hidden')}">
  ${Object.values(this.state.themes ?? {}).map(theme => uHtmlFor(theme, theme.id)`
  <button class="theme" onmousedown="${() => this.onThemeChanged(theme)}">
    <img alt="${'Icon for ' + theme.name}" src="${theme.icon}" />
    <span i18n="${theme.name}">${theme.name}</span>
  </button>
  `)} ${Object.values(this.customThemes ?? {}).map(theme => uHtmlFor(theme, theme.id)`
  <div class="custom-theme">
    <button class="select" onmousedown="${() => this.onThemeChanged(theme)}">
      <img alt="${'Icon for ' + theme.name}" src="${theme.icon}" />
      <span i18n="${theme.name}">${theme.name}</span>
    </button>
    <button class="girafe-button-small delete" onmousedown="${(e:Event) => this.onDeleteTheme(theme, e)}">
      <img alt="delete-icon" src="icons/close.svg" />
    </button>
  </div>
  `)}

  <div class="new-theme">
    <button class="select" onmousedown="${() => this.onAddCustomTheme()}">
      <img alt="Create new theme" src="${this.newIcon}" tip="Save the current layer configuration as new theme" />
      <span i18n="Create new theme">Save current theme</span>
    </button>
  </div>
</div>
